<div class="container">
    <div class="pagination mt-3 mb-4">
        Главная/404
    </div>
    <div class="row justify-content-between">
        <div class="col-2">
            <div class="row">
                <div class="col-12 text-small-404 mb-3">
                    404
                </div>
                <div class="col-12 position-relative">
                    <div class="position-absolute title-absolute">
                        Страница не найдена или не была создана
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <a class="title-link"
                            href="#">Вернуться на главную</a>
                </div>
            </div>
        </div>
        <div class="col-auto text-404">
            404
        </div>
    </div>
</div>