.pagination {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #849EA4;
}

.text-404 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 440px;
  line-height: .9;
  color: #E6B60A;
}

.text-small-404 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  color: #E6B60A;
}

.title-absolute {
  width: 450px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $black;
}

.title-link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $all_good;
}
