<div class="container">
    <div class="row">
        <div class="col-12 rating-title">
            <span>Рейтинги</span>
        </div>
        <div class="col-12">
            //= select-rating/select-rating.html
        </div>
        <div class="col-12">
            <div class="row justify-content-between">
                <div class="col-auto text-left">
                    <a class="rating-link" href="#">Методология рейтинга</a>
                </div>
                <div class="col-auto text-right">
                    <a class="rating-link open_modal" href="#modal1">Почему меня нет в рейтинге</a>
                </div>
            </div>
        </div>
    </div>
</div>

