<div class="container">
    <div class="row">
        <div class="col-12">
            <span>Рейтинги</span>
        </div>
        <div class="col-12">
            <select class="custom-select">
                <option selected>Разработчики мобильных игр</option>
                <option value="1">Один</option>
                <option value="2">Два</option>
                <option value="3">Три</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-between">

        <div class="col-3 text-left">

            <span>Методология рейтинга</span>

        </div>

        <div class="col-3 text-right">

            <span> Почему меня нет в рейтинге</span>

        </div>

    </div>

</div>