.bg-nav {
  @include bg($all_good)
}

.bg-all-good {
  @include bg($all-good)
}

.nav-item .nav-link {
  width: 105px;
  padding-left:25px;
  @include lg {
    width: fit-content;
    padding-left: 0;
  }
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("/img/close-btn.svg");
  width: 18px;
}

button[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("/img/navbar-mob.svg");
  width: 18px;
}

.dropdown-menu {
  border: 0px solid rgba(0,0,0,.15);
  border-radius: 0;

  @include lg {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
  }
}




.navbar-light .navbar-toggler {
  border-color: #fff;
  border-radius: 4px;
  width: 65px;
}

.mobile_button {
  transition: .3s;
  margin-left: 25px;
  margin-top: 1rem;
  margin-bottom: 60px;
  min-width: 234px;
  @include lg {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.mobile_button:hover {
  border: 1px solid #afff5f;
  color: $white;


}

.dropdown-menu {
  min-width: 340px;
}

.dropdown-item {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  white-space: unset;
  color: #849ea4;
  padding: .5rem 3rem .5rem 1.5rem;
}


a.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  top: 50%;
  right: -15px;
  background: url('/img/down.svg');
  border: 0;
  transform: translate(0, -50%) rotate(180deg);
  transition: transform .1s;
}

.dropdown-toggle.active::after {
  transform: translate(0, -50%) rotate(0deg);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #afff5f;
}

.navbar-nav.w-100 {
  padding: 0;
}

.navbar {
  padding: .5rem 0;
}

.navbar-nav {

}

.navbar .mobile_button {
  @include lg {
    min-width: 255px;
  }

}