<div class="container-fluid bg-nav">
    <div class="container">
        <nav class="navbar py-1 navbar-expand-lg navbar-light bg-all-good">
            <a class="navbar_logo" href="#">PP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav w-100 justify-content-evenly">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Рейтинги
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Разработчики мобильных игр</a>
                            <a class="dropdown-item" href="#">Разработчики браузерных игр</a>
                            <a class="dropdown-item" href="#">Разработчики Unity</a>
                            <a class="dropdown-item" href="#">Разработчики UE4</a>
                            <a class="dropdown-item" href="#">AR разработчики</a>
                            <a class="dropdown-item" href="#">VR разработчики</a>
                            <a class="dropdown-item" href="#">CRM системы</a>
                            <a class="dropdown-item" href="#">Рейтинг студий саунд-дизайна</a>
                            <a class="dropdown-item" href="#">Тестировщики игр</a>
                            <a class="dropdown-item" href="#">3D моделирование и анимации</a>
                            <a class="dropdown-item" href="#">Креатив и дизайн</a>
                            <a class="dropdown-item" href="#">Разработчки технического
                                задания и геймдизайна</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <button class="btn text-truncate mobile_button" type="button">Попасть в
                    рейтинг</button>
            </div>
        </nav>
    </div>
</div>