<footer class="container-fluid bg-nav pt-2">
    <div class=""></div>
    <div class="container">
        <div class="row py-2">
            <div class="col-12 footer-title">
                PP
            </div>
        </div>
        <div class="row py-2 justify-content-between">
            <div class="col-8">
                <div class="row mx-0">
                    <div class="col-12 title-header pl-0 pb-3 mb-2 border-bottom">
                        Рейтинги
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-6 px-0">
                        <ul>
                            <li><a href="">Разработчики мобильных игр</a></li>
                            <li><a href="">Разработчики браузерных игр</a></li>
                            <li><a href="">Разработчики Unity</a></li>
                            <li><a href="">Разработчики UE4</a></li>
                            <li><a href="">AR разработчики</a></li>
                            <li><a href="">VR разработчики</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li><a href="">CRM системы</a></li>
                            <li><a href="">Рейтинг студий саунд-дизайна</a></li>
                            <li><a href="">Тестировщики игр</a></li>
                            <li><a href="">3D моделирование и анимации</a></li>
                            <li><a href="">Креатив и дизайн</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 overflow-hidden">
                <div class="row mx-0">
                    <div class="col-12 title-header px-0 pb-3 mb-2 border-bottom">
                        Контакты
                    </div>
                    <div class="col-12 contact-title">
                        <div class="d-flex">
                            <img src="/img/geo.svg" alt="">
                            <div class="px-2">
                                <div class="text-normal">
                                    Москва
                                </div>
                                <div class="text-sm">
                                    34/63111ул. 111111, 34/63с2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 contact-title">
                        <div class="d-flex">
                            <img src="/img/mail.svg" alt="">
                            <div class="px-2">
                                <div class="text-normal">
                                    info@123456.ru
                                </div>
                                <div class="text-sm">
                                    по всем вопросам
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row justify-content-between">
            <div class="col-3">
                2020-2022
            </div>
            <div class="col-auto">
                Политика конфиденциальности
            </div>
        </div>
    </div>
</footer>