body {
  font-family: Rubik, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
@media (min-width: 992px) {
  .w-lg-auto {
    width: auto; } }
.mb-6 {
  margin-bottom: 2rem; }
.mb-20 {
  margin-bottom: 20px; }
@media (min-width: 576px) {
  .mb-20-sm-0 {
    margin-bottom: 0; } }
.pb-6 {
  padding-bottom: 2rem; }
.pb-4r {
  padding-bottom: 4rem !important; }
.pb-5r {
  padding-bottom: 5rem; }
@media (min-width: 768px) {
  .pb-5r-md-0 {
    padding-bottom: 0; } }
.my-6 {
  margin-bottom: 2rem;
  margin-top: 2rem; }
main {
  flex: 1 0 auto; }
p,
ul {
  margin-bottom: 0;
  padding: 0; }
.mobile_button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0; }
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff; }
.navbar_logo {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  white-space: nowrap; }
.navbar_logo:hover {
  color: #ffffff;
  text-decoration: none; }
.text-base {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #32484d; }
.text-small {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #849ea4; }
.text-card {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000; }
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important; }
.bg-nav {
  background: #6fcf0f; }
.bg-all-good {
  background: #6fcf0f; }
.nav-item .nav-link {
  width: 105px;
  padding-left: 25px; }
  @media (min-width: 992px) {
    .nav-item .nav-link {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding-left: 0; } }
.justify-content-evenly {
  justify-content: space-evenly; }
.navbar-toggler .navbar-toggler-icon {
  background-image: url("/rating/img/close-btn.svg");
  width: 18px; }
button[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("/rating/img/navbar-mob.svg");
  width: 18px; }
.navbar-light .navbar-toggler {
  border-color: #fff;
  border-radius: 4px;
  width: 65px; }
.mobile_button {
  transition: .3s; }
.mobile_button:hover {
  border: 1px solid #afff5f;
  color: #ffffff; }
.dropdown-menu {
  min-width: 340px; }
.dropdown-item {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  white-space: unset;
  color: #849ea4;
  padding: .5rem 3rem .5rem 1.5rem; }
a.dropdown-toggle {
  position: relative; }
.dropdown-toggle::after {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  top: 50%;
  right: -15px;
  background: url("/rating/img/down.svg");
  border: 0;
  transform: translate(0, -50%) rotate(180deg);
  transition: transform .4s; }
.dropdown-toggle.active::after {
  transform: translate(0, -50%) rotate(0deg); }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #afff5f; }
.navbar-nav.w-100 {
  padding: 0; }
.navbar {
  padding: .5rem 0; }
@media (min-width: 992px) {
  .navbar .mobile_button {
    min-width: 255px; } }
.bg_header {
  background: url("/rating/img/bg_image.jpg") no-repeat center top;
  background-size: cover;
  height: 584px; }
.header_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff; }
  @media (min-width: 576px) {
    .header_title {
      font-size: 42px; } }
  @media (min-width: 992px) {
    .header_title {
      font-size: 60px; } }
.text-year {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: .85;
  text-transform: uppercase;
  color: #6fcf0f;
  cursor: pointer;
  border-bottom: 3px dashed #6fcf0f; }
  @media (min-width: 768.02px) {
    .text-year {
      font-size: 120px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .text-year {
      font-size: 60px; } }
  @media (max-width: 575.98px) {
    .text-year {
      font-size: 60px; } }
.text-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff; }
.sub-menu-wrapper {
  bottom: 0;
  margin-top: -7rem; }
  @media (max-width: 768px) {
    .sub-menu-wrapper {
      margin-top: -4.5rem; } }
#sub_menu {
  display: none; }
.sub_menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  z-index: 1;
  width: 100%;
  margin-left: 1rem; }
.sub_menu ul li {
  list-style: none; }
.sub_menu ul li a {
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6fcf0f;
  padding: .5rem 0; }
.sub_menu ul li a:hover {
  color: #32484d;
  background: #f4f8f9; }
.sub_menu .active-menu {
  color: #32484d;
  background: #f4f8f9; }
.content-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (max-width: 992px) {
    .content-wrapper {
      margin-left: 15px; } }
.wrapper-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (min-width: 768.02px) {
    .wrapper-img {
      min-height: 500px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .wrapper-img {
      min-height: 450px; } }
  @media (max-width: 575.98px) {
    .wrapper-img {
      min-height: 456px; } }
.bg-grey {
  background: #f7f7f7; }
.container-fluid.bg-grey {
  background: transparent; }
  @media (min-width: 992px) {
    .container-fluid.bg-grey {
      padding-top: 1rem;
      padding-bottom: 36px;
      background: #f7f7f7; } }
.tabs_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-transform: uppercase;
  color: #6fcf0f; }
.tabs_subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: #000000; }
.box {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  padding: 10px 15px; }
.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  position: relative;
  transition: transform .4s; }
.custom-select {
  background: url("/rating/img/up.svg") no-repeat center center; }
.active-select {
  background: url("/rating/img/down.svg") right 0.75rem center/8px 10px no-repeat; }
.input-rating {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  position: relative;
  transition: transform .3s;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  cursor: pointer; }
.sub_menu_rating {
  left: 14px;
  width: calc(100% - 28px); }
.rating-link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2aa7ff;
  border-bottom: 1px dashed #2aa7ff;
  display: block; }
  @media (min-width: 576px) {
    .rating-link {
      margin-top: 2rem; } }
.rating-title {
  margin-top: 1rem;
  margin-bottom: 4px; }
  @media (min-width: 992px) {
    .rating-title {
      margin-top: 2rem; } }
a.rating-link:hover {
  color: #2aa7ff;
  text-decoration: none;
  border-bottom: unset; }
.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%;
  margin-bottom: 10px; }
  @media (min-width: 576px) {
    .select {
      margin-bottom: 0; } }
.select-head {
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  cursor: pointer;
  color: #495057; }
.select-head::after {
  width: 12px;
  height: 8px;
  background: url("/rating/img/up.svg") no-repeat center/cover;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  content: '';
  display: block;
  transition: .2s ease-in; }
.select-head.open::after {
  transform: translateY(-50%) rotate(-180deg); }
.select-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  z-index: 1;
  width: 100%; }
.select-list::-webkit-scrollbar {
  width: 7px;
  background-color: #f8f9fa;
  padding: 5px; }
.select-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9; }
.select-list .select-item {
  position: relative;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6fcf0f;
  padding: .5rem 1rem;
  cursor: pointer;
  list-style-type: none; }
.select-list .select-item.active-item {
  color: #32484d;
  background: #f4f8f9; }
.select-list .select-item:hover {
  background-color: rgba(224, 229, 231, 0.5); }
thead tr th {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #4d4d4d; }
table {
  width: 500px;
  border-collapse: collapse;
  border: 2px solid white; }
th {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #4d4d4d; }
tbody tr td:nth-of-type(3) {
  color: #6fcf0f; }
table tr td {
  text-align: left; }
.table td, .table th {
  vertical-align: middle;
  padding: 20px .75rem; }
table tr td + td {
  text-align: right; }
table tr th {
  text-align: right; }
table tr th:first-child {
  text-align: left; }
table tr th:nth-of-type(2) {
  text-align: left; }
.text-base-table {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #4D4D4D; }
.text-all-good {
  color: #6fcf0f; }
/* h2 */
h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #000000; }
.about_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000; }
.tab-content {
  margin-top: 2rem; }
.nav-tabs {
  border-bottom: 0; }
.nav-tabs .nav-link {
  color: #6fcf0f;
  border: 1px solid #6fcf0f;
  border-radius: 4px;
  text-transform: uppercase;
  transition: .3s;
  padding: .75rem 1rem; }
  @media (min-width: 992px) {
    .nav-tabs .nav-link {
      padding: .5rem 1rem; } }
.nav.nav-tabs .nav-item .nav-link {
  width: 100%; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff;
  background: #6fcf0f;
  border-radius: 4px;
  transition: .3s;
  padding: .75rem 1.5rem; }
  @media (min-width: 992px) {
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      padding: .5rem 1.5rem; } }
.nav-tabs a.nav-link:hover {
  border: 1px solid #59a60c;
  color: #59a60c; }
.nav-tabs a.nav-link.active:hover {
  color: #ffffff;
  background: #59a60c; }
.card {
  border: 0; }
.bg-grey-about {
  padding: 2rem 0;
  background: #f7f7f7; }
.container-fluid.bg-grey-about {
  padding-top: 4rem; }
.footer-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1rem 15px 2rem; }
footer ul li {
  list-style: none;
  padding: .5rem 0; }
.contact-title {
  list-style: none;
  padding-top: 0;
  padding-bottom: 1rem; }
footer ul li a:hover {
  text-decoration: none;
  color: #ffffff; }
footer ul li a,
.contact-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff; }
footer .title-header {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: #ffffff; }
footer .border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important; }
.text-sm {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff; }
.text-normal {
  line-height: 18px; }
.bg-footer {
  background: #57ae00;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  padding: .5rem 0; }
.footer-link {
  text-decoration: none;
  color: white; }
.footer-link:hover {
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  color: white; }
.pagination {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #849ea4; }
.text-404 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 440px;
  line-height: .9;
  color: #e6b60a; }
.text-small-404 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  color: #e6b60a; }
.title-absolute {
  width: 450px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000; }
.title-link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6fcf0f; }
.oferta-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #000000; }
.oferta-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  color: #2b2f33;
  padding: .5rem; }
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; }
.modal_div {
  /*.form-group input::-webkit-input-placeholder,
  .form-group textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }*/
  /*.form-group input:focus::-webkit-input-placeholder,
  .form-group textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }*/ }
  .modal_div h2 {
    margin-bottom: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000; }
    @media (min-width: 768px) {
      .modal_div h2 {
        font-size: 38px;
        line-height: 40px; } }
  .modal_div .form-control:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: unset; }
  .modal_div .form-group {
    margin-bottom: 0; }
  .modal_div .form-group label {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 2rem; }
  .modal_div .form-group input {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #849ea4; }
  .modal_div .form-group input::-moz-placeholder {
    color: #849ea4; }
  .modal_div .form-group input:-ms-input-placeholder {
    color: #849ea4; }
  .modal_div .form-group input::placeholder {
    color: #849ea4; }
  .modal_div .form-group textarea {
    resize: none; }
.btn-primary:hover {
  color: #ffffff;
  background: #59a60c; }
.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #59a60c; }
.modal_div {
  max-width: 320px;
  height: auto;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  border-radius: 5px;
  background: #fff;
  top: 50%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  margin: 0;
  z-index: 5;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 43px 2rem 30px; }
  @media (min-width: 768px) {
    .modal_div {
      max-width: 475px;
      padding: 60px 4rem 70px; } }
  @media (min-width: 1200px) {
    .modal_div {
      left: calc(50% - 320px);
      /* пoлoвинa экрaнa слевa */
      transform: translate(-50%, 0); } }
.modal_div::after {
  position: absolute;
  top: 0;
  right: -138%;
  width: 684px;
  height: 100%;
  z-index: 10;
  background: url("/rating/img/pp.png") no-repeat center center;
  background-size: contain; }
  @media (min-width: 1200px) {
    .modal_div::after {
      content: ''; } }
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: block;
  z-index: 15; }
.form-control {
  height: calc(1.5em + .75rem + 4px); }
.form-group.form-check {
  margin-top: 0;
  padding-left: 0; }
  @media (min-width: 768px) {
    .form-group.form-check {
      margin-top: 1rem; } }
.form-group.form-check .form-check-label {
  margin-top: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #32484d; }
.form-group.form-check {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #31a1b9; }
label {
  margin-bottom: .25rem; }
/* Пoдлoжкa */
#textAreaWrap {
  position: relative;
  background-color: white; }
#textArea {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 162px;
  min-height: 142px;
  padding: 6px 12px;
  resize: none;
  background-color: transparent;
  /* When set background-color: transparent - Firefox  displays
  unpleasant textarea border. Set border style to fix it.*/ }
  @media (min-width: 768px) {
    #textArea {
      height: 142px; } }
.personal-check {
  color: #32484d; }
#placeholderDiv {
  position: absolute;
  top: 0;
  padding: 6px 13px;
  color: #849ea4; }
.textarea-block {
  display: block;
  font-family: Rubik;
  font-style: italic;
  font-weight: normal;
  padding-top: 1rem;
  font-size: 12px;
  line-height: 20px;
  color: #849ea4; }
button[type="submit"] {
  background: #6fcf0f;
  border-radius: 4px;
  border: #6fcf0f;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #ffffff;
  padding: 0;
  margin-top: .5rem; }
  @media (min-width: 768px) {
    button[type="submit"] {
      margin-top: 2rem; } }
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  outline: 0; }
.custom-checkbox:checked + label::before {
  background-image: url("/rating/img/checkbox.svg");
  border: 0; }
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff; }
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff; }
/* стили для чекбокса, находящегося в фокусе */
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff; }
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef; }
.form-check-label,
.form-check-label + a {
  white-space: nowrap; }
#Modal-rating .modal-dialog {
  max-width: 320px;
  margin-bottom: -0.5rem auto; }
@media (min-width: 1200px) {
  #Modal-rating .modal-dialog {
    max-width: 1170px;
    margin: 1.75rem auto; } }
#Modal-rating h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 1rem; }
  @media (min-width: 1200px) {
    #Modal-rating h2 {
      margin-bottom: 2rem; } }
@media (min-width: 1200px) {
  #Modal-rating {
    font-size: 28px;
    line-height: 32px; } }
.modal_div_rating {
  max-width: 1110px;
  height: auto;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  border-radius: 5px;
  background: #fff;
  margin: 0;
  padding: 43px 33px 49px; }
  @media (min-width: 1200px) {
    .modal_div_rating {
      padding: 60px 4rem 49px; } }
.modal_div_rating p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: .5rem; }
  @media (min-width: 1200px) {
    .modal_div_rating p {
      margin-bottom: 1rem; } }
.modal_div_rating ul li {
  color: #6fcf0f;
  margin-left: 25px; }
.modal_div_rating ul li a {
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6fcf0f; }
.modal_div_rating ul li a:hover {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
