/* h2 */
h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.about_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.tab-content {
  margin-top: 2rem;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-link {
  color: $all_good;
  border: 1px solid $all_good;
  border-radius: 4px;
  text-transform: uppercase;
  transition: .3s;
  padding: .75rem 1rem;

  @include lg {
    padding: .5rem 1rem;
  }


}

.nav.nav-tabs .nav-item .nav-link {
  width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: $white;
  background: #6fcf0f;
  border-radius: 4px;
  transition: .3s;
  padding: .75rem 1.5rem;

  @include lg {
    padding: .5rem 1.5rem;
  }
}

.nav-tabs a.nav-link:hover {
  border: 1px solid #59a60c;
  color: #59a60c;
}

.nav-tabs a.nav-link.active:hover {
  color: $white;
  background: #59a60c;
}

.card {
  border: 0;
}

.bg-grey-about {
  padding: 2rem 0;
  background: #f7f7f7;
}

.container-fluid.bg-grey-about {
  padding-top: 4rem;
}

