<div class="container-fluid bg-grey-about pb-4r">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>о нас говорят</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-pane-up mt-2">
                    <div data-id="clients"
                            class="clients">
                        <div class="row mb-3">
                            <div class="col-12 lg-col-6">
                                <span class="about_title">Оставляйте ваши отзывы через форму обратной связи или по E-mail:</span>
                                <a href="mailto: info@rr.ru">info@rr.ru </a>
                            </div>
                        </div>
                    </div>
                    <div data-id="agency"
                            class="agency"
                            style="display: none">
                        <div class="row mb-3">
                            <div class="col-12 col-lg-6">
                                <p class="about_title">Понятная и прозрачная методология, в основе которой лежит активный клиентский портфель агентства. Рейтинги помогают</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="col-12 col-sm-6 col-lg-4 nav-item px-0 mb-20 mb-20-sm-0 pr-sm-3">
                <a class="nav-link active text-center"
                        data-toggle="tab"
                        data-id="clients"
                        href="#clients">клиенты</a>
            </li>
            <li class="col-12 col-sm-6 col-lg-4 nav-item px-0 pl-sm-3">
                <a class="nav-link text-center"
                        data-toggle="tab"
                        data-id="agency"
                        href="#agency">агенства</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active"
                    id="clients">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card bg-grey-about pb-0">
                            <div class="d-flex align-items-center">
                                <img src="/img/picture-one.png"
                                        alt="#">
                                <div class="pl-3">
                                    <p class="text-base">Альбина Зиновьева</p>
                                    <h5 class="text-small">Специальный заголовок</h5>
                                </div>
                            </div>
                            <div class="text-card mt-3">
                                <p>
                                    Актуальность рейтинга в области разработки игр стала очевидна с 2020 года. Быстрый поиск исполнителя, экспертность и возможность выбора - то что сейчас нужно рынку</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card bg-grey-about pb-0">
                            <div class="d-flex align-items-center">
                                <img src="/img/picture-two.png"
                                        alt="#">
                                <div class="pl-3">
                                    <p class="text-base">Марк Усачев</p>
                                    <h5 class="text-small">Корпоративный отдел Сбербанка</h5>
                                </div>
                            </div>
                            <div class="text-card mt-3">
                                <p>Сбербанк проводит три тендера в год по разработке игровых проектов. Мы рады, что теперь появилась специализированная площадка, которая облегчит выбор подрядчика и проведение тендера</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card bg-grey-about pb-0">
                            <div class="d-flex align-items-center">
                                <img src="/img/picture-three.png"
                                        alt="#">
                                <div class="pl-3">
                                    <p class="text-base">Роберт Зинг</p>
                                    <h5 class="text-small">Dyson</h5>
                                </div>
                            </div>
                            <div class="text-card mt-3">
                                <p>
                                    Наша компания потратила почти два месяца, на поиск подрядчика по разработке игрового
                                    проекта. Надеюсь, проект позволит сократить время поиска исполнителя</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
                    id="agency">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card bg-grey-about pb-0">
                            <div class="d-flex align-items-center">
                                <img src="/img/cubix.png"
                                        alt="#">
                                <div class="pl-3">
                                    <p class="text-base">Cubix.co</p>
                                    <h5 class="text-small">Анна Штульц</h5>
                                </div>
                            </div>
                            <div class="text-card mt-3">
                                <p>
                                    Нам важно выбирать лучших из лучших, для выполнения своих задач. Рынок СНГ -
                                    отличный
                                    ресурс. Важно, что можно выбрать команды по языку и технологиям</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card bg-grey-about pb-0">
                            <div class="d-flex align-items-center">
                                <img src="/img/appfox.png"
                                        alt="#">
                                <div class="pl-3">
                                    <p class="text-base">Appfox.ru</p>
                                    <h5 class="text-small">Марина Чернышева</h5>
                                </div>
                            </div>
                            <div class="text-card mt-3">
                                <p>
                                    Нам приятно, что появился рейтинг разработчиков игр. Данному срезу уделяется мало
                                    внимания на просторах интернета, в основном востребованы рейтинги разработки
                                    приложений. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card bg-grey-about pb-0">
                            <div class="d-flex align-items-center">
                                <img src="/img/smm.png"
                                        alt="#">
                                <div class="pl-3">
                                    <p class="text-base">smm-agentstvo.ru</p>
                                    <h5 class="text-small">Максим Марков</h5>
                                </div>
                            </div>
                            <div class="text-card mt-3">
                                <p>
                                    Развитие отрасли геймдева давно предполагало появления тематического рейтинга.
                                    Пришло
                                    время открыто заявить - рейтинг компаний геймдева игнорировался остальными
                                    площадками. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>