@mixin accent_shadow {
  background: #C4C4C4;
  box-shadow: 0px 6px 16px rgba(49, 161, 185, 0.65);
}

@mixin blur {
  background: #C4C4C4;
  backdrop-filter: blur(24px);
}

@mixin level_1 {
  background: #C4C4C4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

@mixin level_2 {
  background: #C4C4C4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

@mixin level_3 {
  background: #C4C4C4;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
}

@mixin level_4 {
  background: #C4C4C4;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
}

@mixin bg($size:$all_good){
  background:$size;
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}


@mixin xs {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin media-breakpoint-sm {
  @media  (max-width: 575.98px) {
    @content;
  }
}


@mixin media-breakpoint-md {
  @media (min-width: 576px) and (max-width: 768px)  {
    @content;
  }
}

@mixin media-only-md {
  @media (max-width: 768px)  {
    @content;
  }
}


@mixin media-only-lg {
  @media (max-width: 992px)  {
    @content;
  }
}

@mixin media-breakpoint-lg {
  @media (min-width: 768.02px) {
    @content;
  }
}

//xs: 0 min-width
//sm: 576px min-width 576px
//md: 768px min-width 768px
//lg: 992px min-width 992px
//xl: 1200px min-width 1200px