<!-- Пoдлoжкa -->
<div id="overlay"></div>

<!--modal1-->
<div class="modal-overlay">
    <div id="modal" class="modal_div">
        <div class="modal_close">
            <img src="/img/cancel.svg" alt="">
        </div>
        <h2>Внести компанию
            в рейтинг</h2>
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="InputName">Как к вам обращаться</label>
                        <input type="text" class="form-control" id="InputName" placeholder="Фамилия Имя Отчество">
                    </div>
                    <div class="form-group">
                        <label for="InputCompName">Название вашей компании</label>
                        <input type="text" class="form-control" id="InputCompName" placeholder="Не указано">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">E-mail</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Введите ваш e-mail">
                    </div>
                    <div class="form-group">
                        <label for="InputPhone">Название вашей компании</label>
                        <input type="text" class="form-control" id="InputPhone" placeholder="Введите ваш телефон">
                    </div>
                    <div class="form-group">
                        <label for="textArea">Комментарий о компании</label>
                        <div id="textAreaWrap">
                            <textarea id="textArea" class="form-control"></textarea>
                            <div id="placeholderDiv">Текст сообщения<br><br><br><span class="textarea-block">Можете указать ссылки на другие рейтинги, в которые входит ваша компания</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check d-flex align-items-center">
                        <input type="checkbox" class="custom-checkbox" id="Check">
                        <label class="form-check-label" for="Check">Согласен на</label>
                        <a class="pl-1" href="#">обработку персональных данных</a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div id="modal1" class="modal_div_rating">
        <div class="modal_close">
            <img src="/img/cancel.svg" alt="">
        </div>
        <h2>Рейтинг разработчиков игр и игровых приложений. <br>
            Методология общего рейтинга.</h2>
        <div class="row">
            <div class="col-12">
                <p>В рейтинге участвуют компании, разрабатывающие игры и игровые приложения. <br>
                   Баллы начисляются на основе суммарных рейтингов площадки:</p>
            </div>
            <div class="col-12">
                <ul>
                    <li><a href="#">Рейтинг разработчиков мобильных игр</a></li>
                    <li><a href="#">Рейтинг разработчиков браузерных игр</a></li>
                    <li><a href="#">Рейтинг разработчиков игр для компьютера</a></li>
                    <li><a href="#">Рейтинг разработчиков VR и AR игр</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>