.bg_header {
  background: url("/img/bg_image.jpg") no-repeat center top;
  background-size: cover;
  height: 584px;
}

.header_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
  color: $white;
}

.text-year {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 100%;
  text-transform: uppercase;
  color: $all_good;
  cursor: pointer;
}

.text-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: $white;
}

.sub-menu-wrapper {
  margin-top: -7rem;
}
#sub_menu {
  display: none;
}

.sub_menu {
  position: absolute;
  top: 0;
  background: $white;
  border: 1px solid #CBCBCB;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  z-index: 1;
  width: 280px;
}

.sub_menu ul li {
  list-style: none;
}

.sub_menu ul li a{
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6FCF0F;
  padding: .5rem 0;
}

.sub_menu ul li a:hover {
  color: #32484D;
  background: #F4F8F9;
}



