<header class="container-fluid bg_header px-0">
    <div class="container h-100 d-flex">
        <div class="row align-items-center align-content-center">
            <div class="col-8 header_title">
                Рейтинг разработчиков игр
            </div>
            <span class="col-12 text-year d-block mt-2 mb-5">
            2020
        </span>
            <p class="col-9 text-subtitle">Понятная и прозрачная методология, в основе которой лежит активный
                клиентский
                портфель
                агентства.
                Рейтинги
                помогают в выборе ведущих веб-студий, мобильных разработчиков, SEO-компаний и агентств контекстной
                рекламы.</p>
        </div>
    </div>
</header>


