.bg_header {
  background: url("/img/bg_image.jpg") no-repeat center top;
  background-size: cover;
  height: 584px;
}

.header_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;

  @include sm {
    font-size: 42px;
  }

  @include lg {
    font-size: 60px;
  }

}

.text-year {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: .85;
  text-transform: uppercase;
  color: $all_good;
  cursor: pointer;
  border-bottom: 3px dashed #6fcf0f;

  @include media-breakpoint-lg {
    font-size: 120px;
  }

  @include media-breakpoint-md {
    font-size: 60px;
  }

  @include media-breakpoint-sm {
    font-size: 60px;
  }

}

.text-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: $white;
}

.sub-menu-wrapper {
  bottom: 0;
  margin-top: -7rem;
  @include media-only-md {
    margin-top: -4.5rem;
  }
}

#sub_menu {
  display: none;
}

.sub_menu {
  position: absolute;
  top: 0;
  left: 0;
  background: $white;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  z-index: 1;
  width: 100%;
  margin-left: 1rem;
}

.sub_menu ul li {
  list-style: none;
}

.sub_menu ul li a {
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6fcf0f;
  padding: .5rem 0;
}

.sub_menu ul li a:hover {
  color: #32484d;
  background: #f4f8f9;
}

.sub_menu .active-menu {
  color: #32484d;
  background: #f4f8f9;
}

.content-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include media-only-lg {
    margin-left: 15px;
  }
}

.wrapper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include media-breakpoint-lg {
    min-height: 500px;
  }

  @include media-breakpoint-md {
    min-height: 450px;
  }

  @include media-breakpoint-sm {
    min-height: 456px;
  }
}



