<header class="container-fluid px-0">
    <div class="position-relative overflow-hidden">
        <div class="position-absolute content-wrapper">
            <div class="container h-100 d-flex">
                <div class="row align-items-center align-content-center">
                    <div class="col-8 header_title">
                        Рейтинг разработчиков игр
                    </div>
                    <div class="col-auto col-lg-12 mt-2 mb-5">
                        <div class="row">
                            <div id="menu_date" class="col-auto text-year px-0 ml-3">
                                2020
                            </div>
                        </div>
                    </div>
                    <div class="col-4 sub-menu-wrapper position-relative">
                        <div id="sub_menu" class="sub_menu py-2">
                            <ul>
                                <li><a class="px-3" href="">2021</a></li>
                                <li><a class="px-3 active-menu" href="">2020</a></li>
                                <li><a class="px-3" href="">2019</a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="col-9 text-subtitle">Понятная и прозрачная методология, в основе которой лежит активный
                                                   клиентский
                                                   портфель
                                                   агентства.
                                                   Рейтинги
                                                   помогают в выборе ведущих веб-студий, мобильных разработчиков,
                                                   SEO-компаний и
                                                   агентств контекстной
                                                   рекламы.</p>
                </div>
            </div>
        </div>
        <img class="wrapper-img" src="/img/bg_image.jpg" alt="">
    </div>
</header>


