<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="pagination mt-3 mb-4">
        Главная/Оферта
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Оферта</h2>
        </div>
        <div class="col-12">
            <p class="oferta-subtitle">(collectively, "Hubstaff," "we," "us," and "our") collects, uses, shares, and
                processes information
                about you. This privacy policy describes our practices concerning your personal data that we process
                when we provide you with Hubstaff’s services, including the services available through our website at
                www.hubstaff.com, our mobile, browser, and desktop applications, and other services where we link
                this Policy (collectively the "Services"). </p>

            <p class="oferta-subtitle">
                It also tells you about your privacy rights. Our terms of service at https://hubstaff.com/terms
                provide further terms governing your use of the Services. These terms are incorporated into this
                policy by this reference. It is important that you read this privacy policy and our terms so that you
                are fully aware of how and why we are using your personal data and the terms under which we provide you
                the Services.
            </p>
            <p class="oferta-subtitle">
            By accessing or using this Service, you signify that you acknowledge, accept, and agree with all the
            terms of this privacy policy, so please do not use or access this Service if you disagree with any
            part of this privacy policy.(collectively, "Hubstaff," "we," "us," and "our") collects, uses, shares,
            and processes information about you. This privacy policy describes our practices concerning your personal
            data that we process when we provide you with Hubstaff’s services, including the services available through
            our website at www.hubstaff.com, our mobile, browser, and desktop applications, and other services where we
            link this Policy (collectively the "Services").
            </p>
            <p class="oferta-subtitle">
                It also tells you about your privacy rights. Our terms of service at https://hubstaff.com/terms
                provide further terms governing your use of the Services. These terms are incorporated into this
                policy by this reference. It is important that you read this privacy policy and our terms so that you
                are fully aware of how and why we are using your personal data and the terms under which we provide you
                the Services.
            </p>
            <p class="oferta-subtitle">
                By accessing or using this Service, you signify that you acknowledge, accept, and agree with all the
                terms of this privacy policy, so please do not use or access this Service if you disagree with any part
                of this privacy policy.</p>

        </div>
    </div>


</div>