.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%;
  margin-bottom: 10px;

  @include sm {
    margin-bottom: 0;

  }

}

.select-head {
  width: 100%;
  max-width: 100%;
  background: $white;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  cursor: pointer;
  color: #212529;
}

.select-head::after {
  width: 12px;
  height: 8px;
  background: url("/img/up.svg") no-repeat center / cover;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  content: '';
  display: block;
  transition: .1s ease-in;
}

.select-head.open::after {
  transform: translateY(-50%) rotate(-180deg);
}

.select-list {
  display: none;
  position: absolute;
  top: 100%;
  //left: 15px;
  right: 0;
  background: $white;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  z-index: 1;
  width: 100%;
}

.select-list::-webkit-scrollbar {
  width: 7px;
  background-color: #f8f9fa;
  padding: 5px;
}

.select-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
}

.select-list .select-item {
  position: relative;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6fcf0f;
  padding: .5rem 1rem;
  cursor: pointer;
  list-style-type: none;
}

.select-list .select-item.active-item {
  color: #212529;
  background: #f4f8f9;
}

.select-list .select-item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}